<div class="container">
    <h2 class="text-success">Presupuestos: {{presupuestos.length}}</h2>


    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-secondary btn-sm" type="button" [hidden]="presupuestos.length <2"
            (click)="ordenaPresup('fecha')">Por fecha <i [ngClass]="icoFecha"></i></button>
        <button class="btn btn-outline-secondary btn-sm" type="button" [hidden]="presupuestos.length <2"
            (click)="ordenaPresup('nombre')">Alfabético <i [ngClass]="icoNombre"></i></button>
        <button class="btn btn-outline-secondary btn-sm" type="button" [hidden]="presupuestos.length <2"
            (click)="ordenaPresup('nada')">Por defecto</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th th:with="0" scope="col"></th>
                <th scope="col">fecha</th>
                <th scope="col">Presupuesto</th>
                <th scope="col">Cliente</th>
                <th scope="col" style="text-align:right">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let presupuesto of presupuestos, let i=index">
                <td class="del" (click)="borraPresup(i)"> <i class="bi-trash"></i></td>
                <td>{{presupuesto.fecha | date:'short'}}</td>
                <td>{{presupuesto.nombre}}</td>
                <td>{{presupuesto.cliente}}</td>
                <td align="right">{{presupuesto.total |number:'1.0-0' }}€ </td>
            </tr>
        </tbody>
    </table>


</div>