<div class="container">
    <h2 class="text-success">Presupuestos: {{buscaPresup().length}}</h2>

    <div class="border border-1 p-1 shadow rounded">

        <span [hidden]="presupuestos.length <2">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="ordenaPresup('fecha')">Por fecha
                    <i [ngClass]="icoFecha"></i></button>
                <button class="btn btn-outline-secondary btn-sm" type="button"
                    (click)="ordenaPresup('nombre')">Alfabético
                    <i [ngClass]="icoNombre"></i></button>
                <button class="btn btn-outline-secondary btn-sm" type="button" (click)="ordenaPresup('nada')">Por
                    defecto</button>

                <span><input (keyup)="filtrar($event)" /><i class="bi bi-search ps-1"></i></span>
            </div>
        </span>


        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 0;" scope="col">id</th>
                    <th style="width: 0;"></th>
                    <th style="width: 0;"></th>
                    <th scope="col">fecha</th>
                    <th scope="col">Presupuesto</th>
                    <th scope="col">Cliente</th>
                    <th scope="col" style="text-align:right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let presupuesto of buscaPresup(), let i=index">
                    <td> {{presupuesto.id}}</td>
                    <td class="del" (click)="borraPresup(presupuesto.id)" title="BORRAR"> <i class="bi-trash"></i> </td>
                    <!--
                    <td class="edit" (click)="ejecutarEvento( presupuesto )"> <i class="bi-pen"></i> </td>
                    -->
                    <td class="edit" (click)="editar(presupuesto)" title="Editar"> <i class="bi-pen"></i> </td>
                    <td>{{presupuesto.fecha | date:'short'}}</td>
                    <td>{{presupuesto.nombre}}</td>
                    <td>{{presupuesto.cliente}}</td>
                    <td align="right">{{presupuesto.total |number:'1.0-0' }}€ </td>
                </tr>
            </tbody>
        </table>


        <span [hidden]="buscaPresup().length">
            <div class="text-center text-danger p-2"><em>No hay datos</em></div>
        </span>



    </div>


</div>