<main>

    <div class="container">

        <div class="row">

            <div class="col-6">
                <h2 class="text-success">Presupuesto:</h2>

                <div class="border border-1 p-1 shadow rounded">
                    <form [formGroup]="presupForm" (ngSubmit)="onSubmit()">

                        <div class="row mb-2">
                            <div class="col ">
                                <label for="nombre" class="form-label">Nombre del presupuesto:</label>
                                <input type="text" class="form-control" id="nombre" [(ngModel)]="presup.nombre"
                                    formControlName="nombre" required>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col ">
                                <label for="cliente" class="form-label">Nombre del Cliente:</label>
                                <input type="text" class="form-control" id="cliente" [(ngModel)]="presup.cliente"
                                    formControlName="cliente" required>
                                <hr>
                            </div>
                        </div>


                        <div class="form-check">
                            <input type="checkbox" id="web" [(ngModel)]="presup.web"
                                [ngModelOptions]="{standalone: true}" (change)="checkboxChange()" />
                            <label class="form-check-label" for="web"> Una página WEB (500€) </label>
                        </div>

                        <app-panel *ngIf="presup.web" [presup]="presup"></app-panel>

                        <div class="form-check">
                            <input type="checkbox" id="seo" [(ngModel)]="presup.seo"
                                [ngModelOptions]="{standalone: true}" (change)="checkboxChange()" />
                            <label class="form-check-label" for="seo"> Una consultoria SEO (300€) </label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" id="adwords" [(ngModel)]="presup.adwords"
                                [ngModelOptions]="{standalone: true}" (change)="checkboxChange()" />
                            <label class="form-check-label" for="adwords"> Una campaña de Google Ads (200€) </label>
                        </div>




                        <div class="d-flex justify-content-between p-2">
                            <p class="fw-bold">Precio: {{presup.total |number:'1.0-0' }}€</p>
                            <button class="btn btn-success" type="submit"
                                [disabled]="!presupForm.valid">Guardar</button>
                        </div>

                    </form>
                </div>

            </div>

            <div class="col-6">
                <app-lista-presupuestos (eventoHijo)="editPresup($event)" [presupuestos]="arrPresupuestos">
                </app-lista-presupuestos>
            </div>

        </div>
    </div>
</main>